* {
  padding: 0;
  margin: 0;
}

.prueba, .btn_success, .btn_alert, .btn_cancel {
  width: 100px;
  text-align: center;
  padding: 5px 0;
  margin: 2px auto;
  border-radius: 2px;
  color: #FFFFFF;
}

.btn_success {
  background-color: #108EFF;
}

.btn_alert {
  background-color: #FF8516;
}

.btn_cancel {
  background-color: #D61E20;
}

.box_uno {
  width: 200px;
  height: 100px;
  background-color: #33D374;
  border-radius: 5%;
  text-align: center;
  margin: 5px;
}

.box_dos {
  width: 150px;
  height: 50px;
  background-color: #108EFF;
  border-radius: 5%;
  text-align: center;
  margin: 5px;
}

.carousel-inner .carousel-item img {
  max-height: 700px;
}

/* nuevo */
.contenedor {
  background-color: red;
  height: 50vh;
  margin: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 500px;
}

.centrame h1 {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.centrame p {
  color: white;
}

.imagenesIndex1 {
  -o-object-fit: cover;
     object-fit: cover;
  height: 230px;
}

.imagenesIndex2 {
  -o-object-fit: cover;
     object-fit: cover;
}

.imagenesIndex3 {
  -o-object-fit: cover;
     object-fit: cover;
  height: 230px;
}

.texto-home {
  color: black;
}

.descripcion-home {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*colores*/
.col-4 {
  height: 200px;
}

video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 400px;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fff;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.contenido {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contenido;
}

.fotercito {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.tiendagrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas: "header header header" "contenido contenido contenido" "footer footer footer";
}

.footergeneral {
  margin-top: 10cm;
}

.nosotros {
  padding: 4cm;
}

.iconos-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hover1:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px #fff;
          box-shadow: 0 0 20px #fff;
}

.hover2:hover {
  background-color: #1f1e1e;
}

.hover3:hover {
  background-color: #e11515;
  -webkit-box-shadow: 0 0 20px #e12466;
          box-shadow: 0 0 20px #e12466;
}

.hover4:hover {
  background-color: #0b2bdf;
  -webkit-box-shadow: 0 0 20px #0d0df7;
          box-shadow: 0 0 20px #0d0df7;
}

.container {
  margin-top: 8%;
}

.boton {
  background-color: linear-gradient(#4551b5 40%, #543fd7 60%) color #fff;
  display: inline-block;
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  min-width: 200px;
  text-decoration: none;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 246, 0.1);
            box-shadow: 0 0 0 0 rgba(255, 255, 246, 0.1);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 25px rgba(255, 255, 246, 0);
            box-shadow: 0 0 0 25px rgba(255, 255, 246, 0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 25 rgba(255, 255, 246, 0);
            box-shadow: 0 0 0 25 rgba(255, 255, 246, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 246, 0.1);
            box-shadow: 0 0 0 0 rgba(255, 255, 246, 0.1);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 25px rgba(255, 255, 246, 0);
            box-shadow: 0 0 0 25px rgba(255, 255, 246, 0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 25 rgba(255, 255, 246, 0);
            box-shadow: 0 0 0 25 rgba(255, 255, 246, 0);
  }
}

.centrame {
  background-color: #121213;
  height: 50vh;
  margin: 5%;
  padding: 20px;
  color: white;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*# sourceMappingURL=style.css.map */