.preguntasContacto{
    color: orange;
}
.preguntas{
    p{
        text-align: justify;
        color: rgb(9, 9, 9);
}
}
.letrasContacto{
    p{
        text-align: justify;
        color: black;
        font-weight: bold;
    }
}
