.prueba {
    width: 100px;
    text-align: center;
    padding: 5px 0;
    margin: 2px auto;
    border-radius: 2px;
    color: #FFFFFF;
}

.preguntasContacto{
    color: orange;
}
.preguntas{
    p{
        text-align: justify;
        color: rgb(9, 9, 9);
}
}