@import "general";
@import "tienda";
@import "nosotros";
@import "index";
@import "contacto";
@import "variables";

.col-4 {
    height: 200px;
}

video {
    display: flex;
    align-items: center;
    margin-right: 400px;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $white;
}

.header {
    grid-area: header;
}

.contenido {
    grid-area: contenido;
}

.fotercito {
    grid-area: footer;
}

.tiendagrid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
        "header header header"
        "contenido contenido contenido"
        "footer footer footer";
}

.footergeneral {
    margin-top: 10cm;
}

.nosotros {
    padding: 4cm;
}

.iconos-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.hover1:hover {
    background-color: $white;
    box-shadow: 0 0 20px $white;
}

.hover2:hover {
    background-color: rgb(31, 30, 30);

}

.hover3:hover {
    background-color: rgb(225, 21, 21);
    box-shadow: 0 0 20px rgb(225, 36, 102)
}

.hover4:hover {
    background-color: rgb(11, 43, 223);
    box-shadow: 0 0 20px rgb(13, 13, 247)
}

.boton {
    background-color: linear-gradient(#4551b5 40%, #543fd7 60%) color $white;
    display: inline-block;
    padding: 1rem 1rem;
    border-radius: 0.25rem;
    min-width: 200px;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 246, .1);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(256, 256, 246, .0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 25 rgba(256, 256, 246, .0);
    }
}
.centrame{
    background-color: rgb(18, 18, 19);
    height: 50vh;
    margin: 5%;
    padding: 20px ;
    color: white;
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}



